* { font-family: helvetica, sans-serif; }

h1,p {margin: 0}
h1 {color:#294172}
h2 {color: #3c6eb4; margin: 0}

    #container {
 /*     border: 1px solid #555; /* Nice transition from white background */
      width: 600px; /* Should be narrow enough for small screens */
      margin: 0 auto; /* Centering */
    }

#headcontent {
	width: 700px;
	margin: auto;
	display: table;

}

#lefttop {
	float: left;
	text-align: left;
}

#righttop {
	float:right;
	text-align: right;
}

hr {
	background: #3c6eb4;
	height: 8px;
	border: 0px;
}

footer {
	background: #3c6eb4;
	margin: auto;
	color: #fff;

}

footer p { width: 500px; margin: auto; text-align: center;}

a {text-decoration: none; color: #3c6eb4; font-weight: bold;}

footer a {color: white; font-weight:normal}

/* Sortable tables */
.sortable th {
	padding: 0 0.2em;
    background-color:#eee;
    color:#666666;
    font-weight: bold;
	text-align:left
}
.sortable a{text-decoration: none; font-weight:normal}

tr.high, .high a {color:#db3279}
tr.medium, .medium a {color:#e59728}
tr.default, .default a {color:#3c6eb4}

#maj {font-size: small}
